<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thank you!</title>
  </head>
  <body>
    <p>Dear, <%= @passenger.first_name %> <%= @passenger.last_name %>.</p>
    <p>You have successfully booked the ticket in Odin Flight Book.</p>
  </body>
</html>
