<table>
  <th>From</th>
  <th>To</th>
  <th>Duration</th>
  <th>Departure Date</th>
  <tr>
    <td><%= @flight.origin.airport_code %></td>
    <td><%= @flight.destination.airport_code %></td>
    <td><%= @flight[:duration] %> Minutes</td>
    <td><%= @flight[:departure_date] %></td>
  </tr>
</table>
