<div class="column column-25">
  <p>&copy; Fatimah Az-Zahra -2017</p>
</div>
<div class="column column-50">
  <center><a href="http://theodinproject.com">Odin Project</a></center>
</div>
<div class="column column-25">
  <center><a href="http://rubyonrails.org/">Ruby on Rails</a></center>
</div>
