// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  background-color: #F4F5F6;
  margin-top: -10px;
  color: #9B4DCA;

  img {
    margin-top: 10px;
    width: 150px;
  }
}

.search-form {
  margin-top: 20px;
}
